<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value="SRV-TAMARI" />
    <add key="SLDServer" value="SRV-TAMARI" />
    <add key="DbServerType" value="10" />
    <add key="UserName" value="manager" />
    <add key="Password" value="123456" />
    <add key="CompanyDb" value="KTWPower" />
    <add key="language" value="3" />
  </appSettings>
</configuration>