<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value="Server" />
    <add key="SLDServer" value="SLDServer" />
    <add key="DbServerType" value="10" />
    <add key="UserName" value="UserName" />
    <add key="Password" value="Password" />
    <add key="CompanyDb" value="CompanyDb" />
    <add key="language" value="3" />
  </appSettings>
</configuration>